body {
	display: flex;
  flex-direction: column;

}
.menu-item-img {
  height: 80px;
  width: auto;
}
h1{
  text-align: center;
padding: 100px 0px 50px;
font-family: 'Raleway', sans-serif;
font-weight: 900;
}
.price{
  text-align: center;
}
.item-head{
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}
.main-head{
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 80%;
justify-content: space-between;
padding: 20px 40px;
margin: 15px 0px;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  border: 1px solid #01023f;;
  padding-bottom: 20px;
}
.item{
  display: flex;
  flex-direction: row;
  width: 90%;
justify-content: space-between;
padding: 20px 40px;
margin: 15px 0px;
border-bottom: 2px solid #010361;
}
.select{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  margin: 5px 15px 0px 0px;
}
.time-picker{
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 85%;
  margin-left: 60px;
  margin-top: 50px;
}
.subtotal-calc {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 90%;
  font-size: 20px;
  font-weight: 600;
  margin: 50px 0px 0px;
}

.payment-methods{
  display: flex;
  flex-direction: column;
}
.pay-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.pay{
  font-size: 20px;
  font-weight: 600;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 15px;

}

.visa-img{
  height: 60px;
  width: auto;
  margin-right: 20px;
}
.mc-img{
  height: 60px;
  width: auto;
  margin-right: 20px;

}
.cash{
  font-size: 30px;
  font-weight:900;
}
.btn-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  padding: 60px 40px 40px;
  font-size: 25px;
}
.submit-btn2{
  width: 400px;
  padding: 30px 70px;
  margin-bottom: 0px;
  font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 25px;
background-color: #010361;
color: white;
border: 0px transparent;
text-align: center;
}

.submit-btn2:hover{
  background-color: #01023f;
  cursor: pointer;
}
nav{
  background-color: #01023f; opacity: 0.9; filter: alpha(opacity=50);
}
.navbar-brand {
  font-weight: 800;
}


.footer {
  display: flex;
  flex-direction: row;
justify-content: space-between;
padding: 20px 20px;
background-color: #01023f;
font-family: 'Raleway', sans-serif;
padding-top: 60px;
border-top: 1px solid white;
color: white;
}
