body {
	display: flex;
  flex-direction: column;
	min-height: 100vh;

	padding: 0px;
	margin: 0px;
}

.info-card{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.reviews-card {
padding: 20px;
width: 30%;
}

.location-card{
  padding: 20px;
  line-height: 15px;
  font-size: 18px;

}
.hours-card {
  padding: 20px 20px;
  line-height: 15px;
  font-size: 18px;
}
.carousel-inner {
  height: 500px;
}
.order-now {
  display: flex;
  justify-content: center;
  align-items: center;
background-color: gray;
color: white;
height: 40px;
font-weight: 500;
font-size: 25px;
padding: 40px 0px;
}
.order-now:hover {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.info-header{
  font-size: 25px;
  margin-bottom: 15px;
}
.location-img {
  height: 200px;
  width: auto;
  margin-bottom: 10px;
}
.star-emojis {
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.review{
  margin: 0px;
  font-style: italic;
}



.footer {
  display: flex;
  flex-direction: row;
justify-content: space-between;
padding: 20px 20px;
background-color: gray;
}
