body {
	display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  font-family: 'Raleway', sans-serif;
}
.checkout-btn{
  width: 400px;
  padding: 30px 70px;
  margin-bottom: 0px;
  font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 25px;
background-color: #010361;
color: white;
border: 0px transparent;
text-align: center;
}
.checkout-btn:hover{
  background-color: #01023f;
  cursor: pointer;
}
.checkout-btn2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}
.navbar-brand{
  color: black;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  background-color: white;
}
.main2{
  width: 90%;
  margin: 0 auto;
  padding: 30px;
}

.item{
  display: flex;
  flex-direction: row;
  width: 100%;
justify-content: space-between;
align-items: center;
padding: 20px 40px;
margin: 15px;
border: transparent;
border-bottom: 2px solid #010361;
font-family: 'Raleway', sans-serif;

}
.main-head{
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.main-p{
 font-weight: 600;
 font-size: 18px;
}

p{
  text-align: center;
}
h1{
  text-align: center;
padding: 100px 0px 50px;
font-family: 'Raleway', sans-serif;
font-weight: 900;
}

.menu-item-img {
  height: 80px;
  width: auto;
}
.menu-description {
  width: 40%;
  font-family: 'Raleway', sans-serif;

}
.qty-box{
  justify-self: end;
  width: 30px;
}
.price-qty{
  margin:  0px 30px;
padding: 0px 10px;
font-family: 'Raleway', sans-serif;

}


.btn-div{
  display: flex;
  flex-direction: row;

  align-items: center;
  font-family: 'Raleway', sans-serif;

}

p{
font-family: 'Raleway', sans-serif;

}

nav{
  background-color: #01023f; opacity: 0.9; filter: alpha(opacity=50);
}
.navbar-brand {
  font-weight: 800;
}


.footer {
  display: flex;
  flex-direction: row;
justify-content: space-between;
padding: 20px 20px;
background-color: #01023f;
font-family: 'Raleway', sans-serif;
padding-top: 60px;
border-top: 1px solid white;
color: white;
}

.submit-btn {
  position: relative;
  padding: 10px;
  width: 200px;
  height: 60px;
  border: 0;
  border-radius: 10px;
  font-family: 'Raleway', sans-serif;
font-weight: 700;
background-color: #010361;
  outline: none;
  cursor: pointer;
  color: #fff;
  transition: .3s ease-in-out;
  overflow: hidden;
}
.submit-btn:hover {
  background-color: #01023f;
}
.submit-btn:active {
  transform: scale(.9);
}

.submit-btn .fa-shopping-cart {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: -10%;
  font-size: 2em;
  transform: translate(-50%,-50%);
}
.submit-btn .fa-box {
  position: absolute;
  z-index: 3;
  top: -20%;
  left: 52%;
  font-size: 1.2em;
  transform: translate(-50%,-50%);
}
.submit-btn span {
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 50%;
  font-size: 1.2em;
  color: #fff;
  transform: translate(-50%,-50%);
}
.submit-btn span.add-to-cart {
  opacity: 1;
}
.submit-btn span.added {
  opacity: 0;
}

.submit-btn.clicked .fa-shopping-cart {
  animation: cart 1.5s ease-in-out forwards;
}
.submit-btn.clicked .fa-box {
  animation: box 1.5s ease-in-out forwards;
}
.submit-btn.clicked span.add-to-cart {
  animation: txt1 1.5s ease-in-out forwards;
}
.submit-btn.clicked span.added {
  animation: txt2 1.5s ease-in-out forwards;
}
@keyframes cart {
  0% {
      left: -10%;
  }
  40%, 60% {
      left: 50%;
  }
  100% {
      left: 110%;
  }
}
@keyframes box {
  0%, 40% {
      top: -20%;
  }
  60% {
      top: 40%;
      left: 52%;
  }
  100% {
      top: 40%;
      left: 112%;
  }
}
@keyframes txt1 {
  0% {
      opacity: 1;
  }
  20%, 100% {
      opacity: 0;
  }
}
@keyframes txt2 {
  0%, 80% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
